@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
=======================
        GENERAL 
=======================
*/
* {
  position: relative;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #151515;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.column {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  color: #ffffff;
  text-transform: uppercase;
  border: transparent;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
}
button:not(:disabled):hover {
  background-color: #ed1d23;
}

button:focus,
select:focus,
input:focus {
  outline-color: #ed1d23;
}

/* MODO OSCURO */
.modo {
  display: flex;
  justify-content: flex-end;
  margin-top: 7.5px;
}

.modo.dark {
  background: #292c35;
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #ed1d23;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 25px;
  width: 50px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 30px;
  width: 30px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #020202;
}

.fa-sun {
  color: #fff;
}

/* 
=======================
        HEADER 
=======================
*/
header {
  width: 100%;
  height: 50px;
  background-color: #020202;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.titulo-logo {
  background-color: #ed1d23;
  color: #fff;
  font-family: "Bangers", cursive;
  padding: 0 10px;
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  margin: 0;
}

.container-banner {
  width: 100%;
  min-height: 400px;
  background-image: url(../../img/mayores-villanos-universo-marvel-comics_11.jpeg);
  background-size: cover;
  position: relative;
}
.container-banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 
 =======================
         SEARCH 
 =======================
 */
.search {
  margin: 60px 10px 80px;
}
.search__container {
  flex-grow: 1;
  flex-wrap: wrap;
}
.search__input-container {
  position: relative;
  min-width: 50%;
}
.search--input {
  border: 0;
  border-bottom: 2px solid #151515;
  width: 100%;
  padding: 5px 35px;
  border-radius: 0;
  font-size: 25px;
  box-sizing: border-box;
}
.search__container,
.search__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.search__inner-container {
  flex-wrap: wrap;
}
.search-button {
  margin-left: 30px;
  padding: 10px 15px;
}

.fa-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* 
  =======================
          RESULTADOS 
  =======================
  */
.comics__section.hidden,
.character__section.hidden {
  display: none;
}

.comics__section,
.character__section {
  display: flex;
  margin: 80px 10px 50px;
}

.comic-title,
.character-portrait {
  max-width: 350px;
  margin-right: 50px;
}

.comic-title,
.character-name {
  margin-top: 0;
}

.results-count,
.results-title {
  margin-left: 10px;
}

.results-count,
label {
  font-size: 13px;
  font-weight: bold;
  color: #7e7e7e;
  margin-right: 12px;
}

select {
  color: #151515;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  margin-bottom: 10px;
}
select:first-of-type {
  margin-right: 30px;
}

/* 
=======================
        GRID 
=======================
*/
/* 
=======================
    PAGINACION 
=======================
*/
.pagination {
  display: flex;
  justify-content: center;
}

.pag-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
.pag-button:disabled {
  color: #d3d3d3;
  border-color: #d3d3d3;
}

/* 
=======================
        footer 
=======================
*/
footer {
  width: 100%;
  padding: 30px 0 40px;
  background-color: #020202;
  color: #fff;
  margin-top: 120px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
