$color-principal: #020202;
$main-color: #151515;
$color-secundario: #7e7e7e;
$main-color-principal: #ed1d23;
$color-secundario-acciones: #951e22;
$color-contraste: #d3d3d3;
$color-titulo: #fff;
$color-titulo-secundario: #ffffff;
