@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$tipografia-titulos: "Bangers", cursive;
$tipografia-body: "Roboto", sans-serif;

$tamaño-logo: 45px;
$tamaño-principal: 16px;
$tamaño-secundario: 14px;
$tamaño-label: 13px;
$tamaño-boton: 25px;

$tiempo: 0.5s;
