@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-espaciar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin margin-grid {
  margin: 0 10px 40px;
}

@mixin button {
  font-size: $tamaño-principal;
  font-family: $tipografia-body;
  background-color: $main-color;
  color: $color-titulo-secundario;
  text-transform: uppercase;
  border: transparent;
  padding: 5px 10px;
  margin: 0 5px;
}
@mixin mouse {
  cursor: pointer;
  transition: $tiempo;
}

@mixin image-grid {
  height: 100%;
  // box-shadow: 0 26px 24px -16px rgba(7, 16, 67, 0.6);
  box-shadow: rgba(4, 4, 4, 0.399) 2.95px 2.95px 4.6px;
  margin-bottom: 20px;
  transform: translateY(0);
  transition: $tiempo;
}
@mixin comic-title {
  height: 64px;
  margin-top: 25px;
}
@mixin padding-central {
  padding: 0 10px;
}
